.device__container {
  display: flex;
  gap: 20px;
}

.device {
  flex: 1;
  flex-direction: column;
  background-color: #202020;
  padding: 20px 40px;
  position: relative;
}

.device__info {
  display: flex;
  gap: 200px;
}

.icons {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  gap: 15px;
}

.icons * {
  cursor: pointer;
  font-size: 22px;
}

.map {
  height: 20em;
}
