.account__container {
  display: flex;
  gap: 15px;
}

.container {
  display: flex;
  flex: 1;
  background-color: #202020;
  padding: 20px 40px;
  position: relative;
  flex-direction: column;
  max-width: 50vw;
  flex-wrap: wrap;
}

.container:nth-child(2) {
  max-width: 300px;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}

.form__row {
  display: flex;
  flex: 1;
  gap: 10px;
}

.account__container__col {
  flex: 1;
}

input::placeholder, select::placeholder {
  color: #666666 !important;
}

.username {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}